.list{
    color:white;
    width: 300px;
    background-color:brown;
    height: 50px;
    margin: 20px auto;
    border-radius: 10px;
}
.list p{
    padding: 15px;
    font: message-box;
    position: relative;
    
}
.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.icons{
    margin: 0 5px;
    font-size: 20px;
}
.list p input{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 15px;
}
.list p input:focus{
    outline: none;
}